.navbar {
	background: #fff;
}
a.navbar-brand {
	color: #23527c;
	float: left;
	padding: 12px 20px;
	font-size: 18px;
	border-radius: 1px solid #ddd;
	line-height: 25px;
	border: 1px solid;
	border-radius: 60%;
	width: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}