.latest-work {
	margin-top: 50px;
}
.item {
	margin-top: 0;
	margin-bottom: 1.5rem;
	@include padding(20vh null 10px 3em);
	text-align: left;
	position: relative;
	background: #fff;
	box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
	border-radius: 0.375rem;
	transition: all 0.3s ease;
	float: left;
	width: 100%;
	&:hover {
		transform: translateY(-5px);
		border-color: transparent;
		box-shadow: 0 1px 6px rgba(77,77,77,.16);
		background: linear-gradient(90deg,#2c3e50,#3498db);
		color: #fff;
		cursor: pointer;

		.tag {
			border-color: #fff;
		}
		.item-content {
			border-bottom: none;
		}
		.item-content p .tag {
			opacity: 0.5;
			color: #fff;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}
.item-content {
	transition: all .3s ease;
	h3 {
		text-transform: capitalize;
		font-weight: 300;
		letter-spacing: -1px;
		padding: 0;
		margin: 0;
	}
	p {
		padding: 0;
		margin: 0;
		.tag {
			border: 1px solid $light;
			margin-right: 10px;
			display: inline-block;
			color: $light;
			font-size: 12px;
			margin-top: 10px;
			padding: 0 5px;
			transition: all .3s ease;
		}
	}
}