.latest-work {
	margin-top: 50px;
}
.item {
	padding: 30px 0;
	width: 100%;
	float: left;
	transform: translateY(0);
	display: block;
	transition: all .3s ease;
	border-bottom: 1px solid $light;
	&:hover {
		transform: translateY(-5px);
		border-color: transparent;
		box-shadow: 0 1px 6px rgba(77,77,77,.16);
		background: linear-gradient(90deg,#5f2c82,#49a09d);
		color: #fff;
		cursor: pointer;

		.tag {
			border-color: #fff;
		}
		.item-content {
			border-bottom: none;
		}
		.item-content p .tag {
			opacity: 0.5;
			color: #fff;
		}

		a {
			color: #fff;
			text-decoration: none;
			font-weight: 900;
		}
	}
}
.item-content {
	transition: all .3s ease;
	h3 {
		text-transform: capitalize;
		font-weight: 900;
		letter-spacing: -1px;
		padding: 0;
		margin: 0;
	}
	p {
		padding: 0;
		margin: 0;
		.tag {
			border: 1px solid $light;
			margin-right: 10px;
			display: inline-block;
			color: $light;
			font-size: 12px;
			margin-top: 10px;
			padding: 0 5px;
			transition: all .3s ease;
		}
	}
}